div#wrapper {
    display: flex;
    flex-direction: column;
}
div#header,
div#content,
div#footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
}
div#header,
div#footer {
    
}
div#content {
    
}
.page-content {
    border-radius: 5px;
    padding: 5px;
    margin: 50px;
}

.nav-menu-item {
    display: inline-flex;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.resource-container {
    display: flex;
}
.resource {
    display: flex;
    margin: 0 5px;
}


.content-card {
    margin: 10px;
}
.content-card-title,
.content-card-body {
    padding: 10px;
}

/* theme */

.color-palette div {
    margin: 5px;
    padding: 5px;
}

.color-1 {
    background-color: #262626;
    color: #FFFFFF;
}
.color-2 {
    background-color: #595959;
    color: #FFFFFF;
}
.color-3 {
    background-color: #A6A6A6;
    color: #000000;
}
.color-4 {
    background-color: #D9D9D9;
    color: #000000;
}
.color-5 {
    background-color: #F5F5F5;
    color: #000000;
}