/* === MAP CONTAINER === */
#map-container {
    touch-action: none;
    position: relative;
    width: 600px;
    height: 600px;
    border: 2px solid #222;
    overflow: hidden;
}

#map-world {
    position: relative;
    width: 600px;
    height: 600px;
    border: 2px solid #222;
    overflow: hidden;

    position: absolute;
    width: 1200px;
    height: 1200px;
    background: #d8b66a;
    transform-origin: 0 0;
}

/* Grid overlay */
#map-world::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image:
        linear-gradient(to right, rgba(255, 255, 255, 0.25) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 1px, transparent 1px);
    background-size: 100px 100px;
    pointer-events: none;
}


/* Controls */
#map-controls {
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#map-controls button {
    width: 36px;
    height: 36px;
    font-size: 18px;
    cursor: pointer;
}

/* === BASE MARKER === */
.marker {
    position: absolute;
    width: 14px;
    height: 14px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border: 1px solid #111111;
    cursor: pointer;
}

/* === VILLAGE STATE === */
.marker.owned {
    background-color: #2ecc71;
    /* Green */
}

.marker.discovered {
    background-color: #FF0000;
    /* Red */
}

/* === VILLAGE LEVEL === */
.marker.level-1 {
    transform: scale(0.75) translateX(-66%) translateY(-50%);
}

.marker.level-2 {
    transform: translate(-50%, -50%) rotate(45deg);
}

.marker.level-3 {
    border-radius: 50%;
    transform: scale(1.5) translateX(-33%) translateY(-33%);
}

.marker.level-4 {
    clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
    );
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
    border: 0px;
    transform: scale(2) translateX(-25%) translateY(-25%);
}


.marker.sieged {
  animation: siegePulse 1s infinite ease-in-out;
  border: 2px dashed #b71c1c;
  box-shadow: 0 0 6px rgba(183, 28, 28, 0.8);
  z-index: 10;
}

/* === PULSE ANIMATION === */
@keyframes siegePulse {
  0% {
    box-shadow: 0 0 5px rgba(183, 28, 28, 1);
  }
  50% {
    box-shadow: 0 0 10px rgba(255, 0, 0, 1);
  }
  100% {
    box-shadow: 0 0 5px rgba(183, 28, 28, 1);
  }
}